@import url("https://fonts.googleapis.com/css2?family=Stalinist+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Stalinist+One&family=Syne+Mono&display=swap");

html {
	box-sizing: border-box;
}

body {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
	background: #adacb5;
}

main {
	display: grid;
	grid-template-columns: repeat(4, 25%);
	box-sizing: inherit;
	width: 100%;
	overflow: hidden;
}

div {
	display: flex;
	align-items: start;
	margin: 5px;
	padding: 25px;
	background: #ffffff;
	background-image: linear-gradient(
		to bottom,
		#34344a,
		#80475e,
		#cc5a71,
		#c89b7b,
		#f0f757
	);
	margin: 20px;
	border: 1px solid black;
	opacity: 0.5;
}

div:hover {
	transform: translateY(50px) scale(1.2);
	transition: all 0.5s linear;
	opacity: 1;
	z-index: 4;
}

img {
	max-width: 15%;
	height: auto;
	align-self: center;
}

section {
	display: grid;
	grid-template-areas:
		"title"
		" desc"
		"paired"
		"pairing";
	margin: 15px;
	padding: 15px;
	min-height: 0;
}

h1 {
	text-align: center;
	font-family: "Stalinist One", cursive;
	font-size: 75px;
}

h2 {
	grid-area: title;
	font-family: "Stalinist One", cursive;
	border-bottom: 0.5px solid black;
}

h4 {
	grid-area: paired;
	font-family: "Stalinist One", cursive;
	border-bottom: 0.5px solid black;
}

span {
	position: relative;
	cursor: pointer;
	opacity: 0.5;
	background: red;
	scale: 1.5;
	border-radius: 50%;
}

span:hover {
	opacity: 1;
	transform: scale(2);
}

.description {
	grid-area: desc;
	font-family: "Syne Mono", monospace;
}

.food-pairing {
	grid-area: pairing;
	font-family: "Syne Mono", monospace;
}

@media (max-width: 1550px) {
	main {
		grid-template-columns: repeat(3, 33%);
	}
}
@media (max-width: 1268px) {
	main {
		grid-template-columns: repeat(2, 50%);
	}
}

@media (max-width: 800px) {
	main {
		grid-template-columns: 1fr;
	}
	h1 {
		font-size: 40px;
	}

	div {
		opacity: 1;
	}
	div:hover {
		opacity: 1;
		transform: translateY(0) scale(1);
		z-index: 1;
	}
}
